
<html>
    <head>
        <script src="./vue.js"></script>
        <link rel="stylesheet" href="./app.css">
    </head>
    <body>
        <div id="app">
            <nav class="nav">
                <input type="text" v-model="searchItem" v-on:keyup="search(searchItem)" placeholder="Find a secID">
                <button type="button" v-on:click="clearSearch()" v-bind:disabled="searchItem === ''">Clear</button>
            </nav>
            <div class="pagination">
                <button type="button" v-on:click="selectPage(1)" v-bind:disabled="pagination.currentPage === 1 || totalPage === 0">First</button>
                <ul>
                    <li>
                        <button type="button" v-on:click="selectPage(pagination.currentPage-1)" v-bind:disabled="pagination.currentPage === 1 || totalPage === 0">Previous</button>
                    </li>
                    <li class="is-space"></li>
                    <li v-for="page in pagination.filterPages">
                        <button type="button" v-on:click="selectPage(page)" v-bind:class="{ isSelected: pagination.currentPage === page }">{{page}}</button> <!-- TODO: page will work here? or search in vue -->
                    </li>
                    <li class="is-space"></li>
                    <li>
                        <button type="button" v-on:click="selectPage(pagination.currentPage+1)" v-bind:disabled="pagination.currentPage === totalPage || totalPage === 0">Next</button>
                    </li>
                </ul>
                <button type="button" v-on:click="selectPage(totalPage)" v-bind:disabled="pagination.currentPage === totalPage || totalPage === 0">Last</button>
            </div>
            <div class="paginatedItems">
                <table>
                    <tr>
                        <th>SecID</th>
                        <th>Closed</th>
                        <th>StartDate</th>
                        <th>StartPrice</th>
                        <th>LatestDate/EndDate</th>
                        <th>LatestPrice/EndPrice</th>
                        <th>TradePlan</th>
                    </tr>
                    <tr v-for="item in paginatedItems">
                        <td>{{item.secID}}</td>
                        <td>{{item.closed}}</td>
                        <td>{{item.sdts | formatTs}}</td>
                        <td>{{item.sp}}</td>
                        <td>{{item.edts | formatTs}}</td>
                        <td>{{item.ep}}</td>
                        <td>{{item.tradeplanId}}</td>
                    </tr>
                </table>
            </div>
            <button type="button" v-on:click="update()">Update</button>
        </div>
        <script src='./app.js'></script>
    </body>
</html>
