
<html>
    <head>
        <script src="./vue.js"></script>
        <link rel="stylesheet" href="./app.css">
    </head>
    <body>
        <div id="app">
            <nav class="nav">
                <input type="text" v-model="searchItem" v-on:keyup.enter="search(searchItem)" placeholder="Find a secID">
                <button type="button" v-on:click="clearSearch()" v-bind:disabled="searchItem === ''">Clear</button>
            </nav>
            <div class="pagination">
                <button type="button" v-on:click="selectPage(1)" v-bind:disabled="pagination.currentPage === 1 || totalPage === 0"><<</button>
                <span class="space"></span>
                <button type="button" v-on:click="selectPage(pagination.currentPage-1)" v-bind:disabled="pagination.currentPage === 1 || totalPage === 0"><</button>
                {{pagination.currentPage}} / {{totalPage}}
                <button type="button" v-on:click="selectPage(pagination.currentPage+1)" v-bind:disabled="pagination.currentPage === totalPage || totalPage === 0">></button>
                <span class="space"></span>
                <button type="button" v-on:click="selectPage(totalPage)" v-bind:disabled="pagination.currentPage === totalPage || totalPage === 0">>></button>
            </div>
            <div class="paginatedItems">
                <table>
                    <tr>
                        <th><button v-on:click="sortBy('secID')" v-bind:style="{ color: (sortKey === 'secID' ? 'white' : 'black')}">SecID</button></th>
                        <th><button>Closed</button></th>
                        <th><button v-on:click="sortBy('sdts')" v-bind:style="{ color: (sortKey === 'sdts' ? 'white' : 'black')}">StartDate</button></th>
                        <th><button>StartPrice</button></th>
                        <th><button>LatestDate/EndDate</button></th>
                        <th><button>LatestPrice/EndPrice</button></th>
                        <th><button>TradePlan</button></th>
                    </tr>
                    <tr v-for="item in paginatedItems">
                        <td>{{item.secID}}</td>
                        <td>{{item.closed}}</td>
                        <td>{{item.sdts | formatTs}}</td>
                        <td>{{item.sp | numeral}}</td>
                        <td>{{item.edts | formatTs}}</td>
                        <td>{{item.ep | numeral}}</td>
                        <td>{{item.tradeplanId}}</td>
                    </tr>
                </table>
            </div>
            <button type="button" v-on:click="update()">Update</button>
        </div>
        <script src='./app.js'></script>
    </body>
</html>
